<h1>Por region</h1>
<hr>
<div class="row">
  <div class="col">
    <div class="d-flex justify-content-center gap-3 mx-2">
      <button
        class="btn"
        [ngClass]="{ 'transition' : selectedRegion === region}"
        #btnRegion
        (click)="SearchByRegion(region)"
        *ngFor="let region of regions">{{ region }}</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <countries-table [countries]="_countries"></countries-table>
  </div>
</div>
<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
